/*SCROLL*/
::-webkit-scrollbar {
  height: 11px;
}

::-webkit-scrollbar:vertical {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px #c2c2c2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(43, 102, 18, 0.9);
  border-radius: 5px;
  border-left: 2px solid #22520e;
  border-right: 2px solid #22520e;
}

/*RESET BUTTON*/
.handle {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.handle {
  background: white;
  height: 30px;
  border-top: 1px solid #dfe0e2;
  border-left: 1px solid #dfe0e2;
  border-right: 1px solid #dfe0e2;
  cursor: pointer;
}

.handle:focus {
  outline: none;
}

.handle:active {
  background: #dfe0e2;
}

.btnMenu {
  position: fixed;
}

.header {
  height: 25px;
  margin-bottom: 20px;
  background: rgb(25, 25, 25);
  color: white;
  padding-top: 0.9em;
  font-size: 12px;
  border-bottom: 1px solid rgb(48, 44, 44);
}

hr.linea {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(70, 64, 64, 0),
    rgba(70, 64, 64, 0.75),
    rgba(70, 64, 64, 0)
  );
  margin-bottom: 0;
}

.dayPicker {
  width: 100%;
}
